
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.biggerContainer{
  justify-content: center;
  /* border:10px solid red; */
  display: flex;
}

h1{
  /* border: 10px solid red; */
  text-align:center;
}

.example-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
 
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.volver{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.volver:hover {
  background-color: white;
  color: black;
}
.delete{
  margin:40px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.delete:hover{
  background-color: white;
  color:black;
}
.btns{
  text-align: center;
}
