mat-card{
    margin: 15px;
    transition: transform 300ms;
}
mat-card:hover {
    transform: scale(1.1);
    transition: transform 300ms;
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.containerImage{
    height: 300px;
    width:300px;
}
